@using TravelTripMVC.Models.Entities
@model List<Yorum>
@{
    ViewBag.Title = "YorumListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br/>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kullnici</th>
        <th>Mail</th>
        <th>Yorum</th>
        <th>Blog</th>
        <th>Sil</th>
        <th>Guncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Kullanici</td>
            <td>@item.Mail</td>
            <td>@item.Yorumlar</td>
            <td>@item.Blog.Baslik</td>
            
            <td><a href="/Admin/YorumSil/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/YorumGetir/@item.ID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }

</table>


